body {
  text-align: center;
  margin: 0 auto;
  width: 100%;
  color: white;
  text-shadow: 1px 1px black, -1px -1px black, 1px -1px black, -1px 1px black;
  background-image: url('https://images.unsplash.com/photo-1447069387593-a5de0862481e?crop=entropy&fit=crop&fm=jpg&h=1025&ixjsv=2.1.0&ixlib=rb-0.3.5&q=80&w=1700');
}
p {
  text-align: left;
  font-size: 20px;
  margin: 30px 200px 100px 200px;
}
p#quote {
  text-align: center;
  font-style: italic;
  font-size: 30px;
  padding: 10px;
  margin-bottom: 20px;
  height: 300px;
}
button {
  margin: 0px 5px 0px 5px;
}
